SLACK_SIGNING_SECRET=
SLACK_CHANNEL_ID=C067Z2CJ0H0
SLACK_CHANNEL_NAME=feature-releases
SLACK_WORKSPACE_DOMAIN=example.slack.com

PORT_BASE_URL=https://api.getport.io
PORT_CLIENT_ID=
PORT_CLIENT_SECRET=
PORT_BLUEPRINT_IDENTIFIER=slack_use_case
PORT_DEFAULT_STATUS=ready_for_cursor
PORT_DEFAULT_PRIORITY=medium

TARGET_REPOSITORY_URL=https://github.com/samdeepk-eng/Feature-releases.git
TARGET_BRANCH=main
REQUEST_TIMEOUT_SECONDS=10
